.gat-main-container {
  height: 88vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: url("../img/home-mask-r-1.avif") no-repeat fixed;
  background-size: cover;
}

.gat-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gat-header h1 {
  margin-left: 2rem;
  font-size: xx-large;
}

.gat-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gat-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.gat-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.gat-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gat-col label {
  font-weight: 500;
  font-size: larger;
}

.gat-col input[type="text"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 100%;
}

.gat-col-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.gat-col-buttons input[type="button"] {
  width: 30%;
  background-color: #f68b2a;
  border: #f68b2a 2px solid;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: larger;
}
.gat-col-buttons input[type="button"]:hover {
  background-color: white;
  border: #f68b2a 2px solid;
  color: #f68b2a;
}

#response {
  color: #c3202f;
  width: 100%;
  font-size: larger;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gat-text {
  font-size: x-large;
  font-weight: 700;
}

.gat-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.gat-table td,
.gat-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.gat-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.gat-table tr:hover {
  backdrop-filter: blur(10px);
}

.gat-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #c3202f;
  color: white;
  font-size: large;
}
.gat-table tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(84, 92, 89, 0.745);
  color: white;
  backdrop-filter: blur(4px);
}

.gat-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
